VITE_SUPABASE_URL=https://fitamkhcjdaiakarbtel.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZpdGFta2hjamRhaWFrYXJidGVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5OTQzNTUsImV4cCI6MjA4ODU3MDM1NX0.Ct5eSZroedHGSS8JMkY2jU9thPPowhdGoV8YFDEDgvo
